/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

head {
    font-family: "Ramaraja", serif;
}
    
    table{
    border-collapse:collapse;
    border:1px solid #2c4d7f;
    }

    table td{
    border:1px solid #2c4d7f;
    }

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 480px){
        
        .burger-nav{
            display: block;
            height: 40px;
            width: 100%;
            background: url(images/burger.png) no-repeat 98% center;
            background-color: #2c4d7f;
            cursor: pointer;
        }
}
  
    and (-webkit-min-device-pixel-ratio: 2) {

}


body {
  margin: 20px 20px;
  font-size: 16px;
  /* Declare the base font-family - from google font api or other */
  font-family: "Almendra", sans-serif;
  
}


main { 
    
    padding: 0 2%;
    min-height: 10rem;
}

main figure.franklin {
    width: 100%;
    margin: 2% 2% 0 0;
}

main figure.franklin img {width: 100%;}

header {
    margin-top: auto;
}
header h1 {
    color: #2c4d7f;
    margin-top: -150px;
    margin-left: 200px;
}
header h1, h2, h3 {
    font-family: 'Ramaraja', serif;
}
header img {}
header .subheading {
    color: #2c4d7f;
    font-size: 1.2em;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

/*Burger menu button code &#9776; */

nav button {
    margin-top: -275px;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #2c4d7f;
    float: right;
}

nav {
    background-color: #2c4d7f;
    font-family: font-family: "Almendra", serif;
    text-decoration: none;
}


nav ul {
    list-style-type: none;
}

nav ul li a {
    margin-left: -40px;
    display: block;
    padding: .8rem 2%;
    color: #aeceff;
    text-decoration: none;
    border-color: #7f7f7f;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li a:link{
    color: #aeceff;
    background-color: #2c4d7f;
    text-decoration: none;
}

nav ul li a:hover {
    color: #aeceff;
    background-color: #7f7f7f;
    text-decoration: none;
}

nav ul li a:active {
    color: #aeceff;
    background-color: #589aff;
    text-decoration: none;
}



.hide-nav {
display: none;
}

/*end of nav*/


main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }


figcaption {
    font-size: 10px;
    color: #7f7f7f;
}

#summary {
    text-align: center;
    font-size: 1.5em;
    border: #2c4d7f solid 5px;
    padding-left: 10px;
}

.forecast {
    display: none;
}

table {
    margin: auto;
    color: #2c4d7f;
    border: solid #2c4d7f 2px;
    margin-bottom: 30px;
}

thead {
    text-align: center;
}

tbody {
    text-align: center;
}

#windchill {
    min-width: 370px;
    border: solid #7f7f7f 5px;
    border-width: 25px;
    text-align: center;
    padding-bottom: 20px; 
    margin-top: 30px;
    margin-bottom: 30px;
}

#output {
    color: #2c4d7f;
    margin-bottom: 10px;
}

article h3 {
    
}

article p.town-article img {  
    /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 33%; 
    /* fill the page in the small/phone view */
  margin: auto;
}
footer {
    text-align: center;
    color: #aeceff;
    background-color: #2c4d7f;
    padding-bottom: 5px;
}

aside {
    text-align: center;
    color: #2c4d7f;
    background-color: #aeceff;
    padding: 16px 16px;
}

footer a {
    color: #aeceff;
    text-decoration: underline;
}

footer-bar p {
    text-align: center;
    font-size: 14px;
    color: #aeceff;
    line-height: 20px;
    background-color: #2c4d7f;
    margin: 0;
    padding: .5rem;
}

.gallery p {
    color: #2c4d7f;
}

.gallery img:hover {
    border: solid 1px black;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: black;
        border-right-color: black;
        border-bottom-color: black;
        border-left-color: black;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100%;
        border-image-width: 1;
        border-image-outset: 0;
        border-image-repeat: stretch stretch;
    box-shadow: 10px 10px 10px black;
}

/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}