/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

head 
    
    table{
    border-collapse:collapse;
    border:1px solid #2c4d7f;
    }

    table td{
    border:1px solid #2c4d7f;
    }

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}


body {
  margin: 20px 20px;
  font-size: 16px;
  /* Declare the base font-family - from google font api or other */
  font-family: Arial, Helvetica, sans-serif;
  
}

main { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {
    margin-top: auto;
}
header h1 {
    color: #2c4d7f;
    margin-top: -150px;
    margin-left: 200px;
}
header h1, h2, h3 {
    font-family: Georgia, serif;
}
header img {}
header .subheading {
    color: #2c4d7f;
    margin-left: 50px;
    margin-bottom: 40px;
}


nav {
    display: none;
    text-align: center;
}

/*nav button {}*/


main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }


figcaption {
    font-size: 10px;
}

#summary {
    border: 5px;
    border-color: #2c4d7f;
}

/*
section, h3, highlow, current, conditions {
    text-align: center;
    border: 3em;
    border-color: #2c4d7f;
}
*/

.forecast {
    display: none;
}

table {
    margin: auto;
    color: #2c4d7f;
}

thead {
    text-align: center;
}

tbody {
    text-align: center;
}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: ???; /* fill the page in the small/phone view */
  margin: ???;
}
footer {
    text-align: center;
    color: #aeceff;
    background-color: #2c4d7f;
    padding-bottom: 5px;
}

aside {
    text-align: center;
    color: #2c4d7f;
    background-color: #aeceff;
    padding: 16px 16px;
}

footer-bar {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

/*footer .p {*/
   
} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */